/*BASE STYLING*/
* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: Ubuntu;
}


/* NAV STYLING*/
.primary-nav{
	display: flex;
	flex-direction: row;
	background-color: #f8f8f8;
	color: #b7b7b8;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	align-items: center;
}

.primary-nav a {
	color: #b7b7b8;
	margin: 0 16px 0 0;
}

.secondary-nav {
	display: flex;
	flex-direction: row;
	color: #3b3442;
	font-weight: bold;
	font-size: 14px;
	width: 100%;
	align-items: center;
	padding: 30px 0;
}

.secondary-nav a {
	color: #000000;
	margin: 0 8px 0 0;
}

#logo {
	justify-content: flex-start;
	flex: 0 0 33%;
	padding: 0 60px;
}

.phone-number {
	justify-content: flex-start;
	flex: 0 0 33%;
	padding: 0 60px;
	color: #a4a4a4;
}

.nav-list {
	flex: 0 0 66%;
	text-align: right;
}

.nav-border {
	border-right-style: solid;
	border-width: thin;
	border-height: 100%;
	padding-right: 16px;
	color: #b7b7b8;
	
}